<section class="contact-us">
    <accountnavigation ng-show="user.Permissions.contains('ViewSelfAdmin') || user.Type == 'Customer'" />
    <div class="panel panel-no-panels">
        <div class="panel-heading">
            <h1 class="panel-title panel-primary">{{('Contact' | r) + ' ' + ('Us' | r) | xlat }}</h1>
        </div>
        <div class="panel-body" style="font-weight:normal">
            <p>
            <h2><b>If you have questions about products, orders, or the FMH Store, <a href="mailto:fmhcs@theadigroup.net?subject=FMH%20Store%20-%20Contact%20Us">click here</a> anytime to email a representative. You will receive a response within 24 hours.</b></h2>
            </p>
            <p>
            <p>
            <p>
                <b>We love feedback! If you have product ideas or comments and suggestions to improve the site, email <a href="mailto:marketing@fmh.com">marketing@fmh.com</a>.</b>
            </p>

            <h2>FMH Co-op Reimbursement Program</h2>
            <p>
                The level of co-op dollars your agency is eligible for in the current calendar year is based on the amount of total crop hail and property & casualty premium your agency wrote with FMH in the prior calendar year. Please visit the FMH Agent Resource Center for further details including tier levels, eligibility, and rules.
            </p>
            <h2>
                What if I want to create my own advertisement?</h2>
            <p>
                Any non-FMH created advertisement or any other marketing media must be pre-approved by the FMH Marketing Department. Prior to publication, email documentation to <a href="mailto:marketing@fmh.com">marketing@fmh.com</a> for approval. The advertisement must include the FMH logo or name to be considered for reimbursement. FMH reserves the right to make final determination of qualification.
            </p>

            <h2>What items are NOT eligible for Co-op Reimbursement?</h2>
            <p>
                Pieces referencing multi-peril crop insurance, online store purchases, door prizes, golf fees, personalized postcards, postage, mailing/handling fees, and livestock.
            </p>

            <h2>Who to Contact</h2>
            <p>
                If you have questions regarding co-op reimbursement or for approval of non-FMH created ads, contact <a href="mailto:marketing@fmh.com">marketing@fmh.com</a>.
            </p>

            <h2>Payment</h2>
            <p>
                Accepted methods of payment include the following credit cards: Visa, Master Card, American Express, and Discover.
            </p>
            <p>
                Your credit card will be charged when the order is placed. The charge will show up as: <b>THE ADI GROUP - 5153342203, IA</b>. If it is not possible to fulfill your order for any reason, your credit card will be refunded.
            </p>

            <h2>Shipping Turnaround</h2>
            <p>
                Custom-made products are pulled from the distributor, decorated, and shipped within 3-5 weeks. All other products are shipped within two business days, Monday - Friday 8 a.m. - 5 p.m. CST. Please note that orders placed after 2:00 p.m. CST will begin processing the following business day.
            </p>

            <h2>Carriers</h2>
            <p>
                All "Quick Ship" orders shipping within the U.S. are shipped via USPS or UPS. We ship all "Quick Ship" from our fulfillment facility in Des Moines, Iowa.
            </p>

            <h2>Order Tracking</h2>
            <p>
                You will receive a confirmation email once your order is placed and a second email containing tracking information when your order ships. Additionally, you can check the status of your order at any time by logging into your account and clicking the "Orders. A customer service representative is available to assist you with any questions regarding your order via Live Chat or email <a href="mailto:fmhcs@theadigroup.net?subject=FMH%20Store%20-%20Order%20Tracking">ADi Customer Service</a>.
            </p>

            <h2>Return Policy</h2>
            <p>
                The FMH Store offers many items that are custom-made for you. These products, marked with an "Agent Imprint" disclaimer on the individual product pages, include items like embroidered dress shirts, polos, jackets, and other embroidered garments. Sizing charts are provided to assist you in ordering the appropriate size. As they are personalized, these items cannot be returned.
            </p>


            <h2>Privacy & Security</h2>
            <p>
                What Information Do We Collect?
            </p>
            <p>
                We only collect information that we need that is related to your order. This includes your:
            </p>
            <p>
                &bull;&nbsp;&nbsp;Billing Address<br />
                &bull;&nbsp;&nbsp;Shipping Address<br />
                &bull;&nbsp;&nbsp;Email Address<br />
                &bull;&nbsp;&nbsp;Credit Card Information<br />
            </p>
            <p>
                We also collect information on your IP address, browser type, and Refer URL data. We use this data to prevent hacking attempts, help us know what web browsers people are using.
            </p>

            <h2>How Is My Information Used?</h2>
            <p>
                Your information is only used to fill your order. We do not sell or redistribute your information to anyone.
            </p>
            <h2>Security and Storage</h2>
            <p>
                Only your order billing, shipping, and order contents data is stored on our server. This information is encrypted using a Secure Sockets Layer before it is transmitted over a web server. We do not store your credit card data.
            </p>
            <h2>Cookies and Browser Information</h2>
            <p>
                Cookies are small files that reside on your computer and allow us to recognize you on your next visit or store your shopping cart contents. We use them only to track this information.
            </p>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</section>